{% block sidebar %}
    <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="{{ base_url('public/assets/img/sidebar-1.jpg')}}">
        <!--
    Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
    Tip 2: you can also add an image using data-image tag
    Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
        <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y">
            <div class="user">
                <div class="photo">
                    <img src="{{ base_url('public/assets/img/faces/marc.jpg') }}">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        {{ session.fullName }}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="{{ base_url('logout') }}">Çıkış</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="{% if current_url() == base_url() %} active {% elseif current_url() == base_url('dashboard') %} active {% endif %}">
                    <a href="{{ base_url('dashboard') }}">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if current_url() == base_url('ticket/open') %} active {% endif %}">
                    <a href="{{ base_url('ticket/open') }}">
                        <i class="material-icons">timeline</i>
                        <p>Ticket Aç</p>
                    </a>
                </li>
                <li class="{% if current_url() == base_url('ticket/all') %} active {% endif %}">
                    <a href="{{ base_url('ticket/all') }}">
                        <i class="material-icons">timeline</i>
                        <p>Açık Ticketlar</p>
                    </a>
                </li>
            </ul>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 231px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 73px;"></div></div></div>
        <div class="sidebar-background" style="background-image: url({{ base_url('public/assets/img/sidebar-1.jpg') }}) "></div></div>
{% endblock %}